// Typography
$font-family-sans-serif: 'Roboto',
sans-serif;

//FONT 
$default-font-size: 1.6rem;
$poppins: 'Poppins',
sans-serif;
$roboto: 'Roboto',
sans-serif;
$nunito: 'Nunito',
sans-serif;
$nunitoSans: 'Nunito Sans',
sans-serif;

//COLORS
$color-black: #000000;
$color-white: #ffffff;

$color-blue: #acc0fe;
$color-blue2: rgb(67, 125, 224);
$color-blue-dark: #2f3e68;
$color-blue-dark2: #191d32;

$black-pearl: #1e1e2c;

$color-black2: #1A1A1A;

$color-gold: #BBB582;

$color-gray1: #ececec;
$color-gray2: #6f6f89;
$color-gray4: #7a7d7d;
$color-gray5: #dce8df;

$color-gray6: #6d6a75;
$color-gray7: #37323e;

$color-red: #FF3131;
$color-red2: #f2dede;
$color-red3: #ebccd1;

$color-green: #526151;
$color-green2: #dff08d;
$color-green3: #d6e9c6;

$color-yellow: #ffcc00;

$color-grey-blue1: #DCEEF6;
$color-grey-blue2: #BBCECC;


$color-yellow-light: #fefde5;
